/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
/*  background-color: #FBFBFB; */
  background-color: #FFFFFD;
  padding: 14px 20px;
/*   margin: 0 -20px;  negative indent the amount of the padding to maintain the grid system */
  margin: 0;
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.footer {
    background-color: #F2F2F2;
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}